<div class="flex flex-col">
  <input
    class="mt-1 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm placeholder-slate-400
      focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
      disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
    "
    [value]="amount"
    [formControl]="amountControl"
    type="number"
  >
  <select class="mt-10" [formControl]="currencyControl" >
    <option>{{ selectedCurrency.txt }}</option>
    <option
      *ngFor="let curr of currencies"
      [value]="curr.txt">{{ curr.txt }}</option>
  </select>
</div>
