<div class="text-center">
  <app-header [headerCurrencies]="headerCurrencies"></app-header>
  <h1 class="mt-20 font-bold text-4xl">Currency Converter</h1>
  <div class="wrapper flex justify-center gap-20 mt-20 border-b-2 pb-20">
    <app-currency-row
      [countRate]="countRate"
      [amount]="fromAmount"
      [currencies]="currencies"
      [selectedCurrency]="fromCurrency"
      (handleAmount)="handleFromAmountChange($event)"
      (handleCurrency)="handleChangeFromCurrency($event)"
    ></app-currency-row>
    <app-currency-row
      [countRate]="countRate"
      [amount]="toAmount"
      [currencies]="currencies"
      [selectedCurrency]="toCurrency"
      (handleAmount)="handleToAmountChange($event)"
      (handleCurrency)="handleChangeToCurrency($event)"
    ></app-currency-row>
  </div>
</div>




